In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

## Import and merge csv's

In [2]:
housing = pd.read_csv('county_housing_units_2000-2022_cleaned_3.csv',dtype = {'FIPS': str})
housing.head()

,FIPS,date,county,state,state_abbr,county_state,housing_units
0,01001,2000-07-01,Autauga County,Alabama,AL,"Autauga County, AL",17845
1,01001,2001-07-01,Autauga County,Alabama,AL,"Autauga County, AL",18344
2,01001,2002-07-01,Autauga County,Alabama,AL,"Autauga County, AL",18903
3,01001,2003-07-01,Autauga County,Alabama,AL,"Autauga County, AL",19333
4,01001,2004-07-01,Autauga County,Alabama,AL,"Autauga County, AL",19783

In [3]:
age = pd.read_csv('county_median_age_2000-2022_cleaned_3.csv',dtype = {'FIPS': str})
age.head()

,FIPS,date,county,state,state_abbr,county_state,population_total,population_male,population_female,percent_male,median_age_total,median_age_male,median_age_female
0,01001,2000-07-01,Autauga County,Alabama,AL,"Autauga County, AL",43872,21318,22554,0.485914,35.2,34.0,36.1
1,01001,2001-07-01,Autauga County,Alabama,AL,"Autauga County, AL",44434,21591,22843,0.485912,35.6,34.3,36.6
2,01001,2002-07-01,Autauga County,Alabama,AL,"Autauga County, AL",45157,21928,23229,0.485595,35.9,34.6,36.9
3,01001,2003-07-01,Autauga County,Alabama,AL,"Autauga County, AL",45762,22222,23540,0.485599,35.9,34.9,37.0
4,01001,2004-07-01,Autauga County,Alabama,AL,"Autauga County, AL",46933,22765,24168,0.485053,35.8,34.8,36.8

In [4]:
df = pd.merge(left=housing,right=age,on=['FIPS','date'],how='outer')
df.head()

,FIPS,date,county_x,state_x,state_abbr_x,county_state_x,housing_units,county_y,state_y,state_abbr_y,county_state_y,population_total,population_male,population_female,percent_male,median_age_total,median_age_male,median_age_female
0,01001,2000-07-01,Autauga County,Alabama,AL,"Autauga County, AL",17845,Autauga County,Alabama,AL,"Autauga County, AL",43872,21318,22554,0.485914,35.2,34.0,36.1
1,01001,2001-07-01,Autauga County,Alabama,AL,"Autauga County, AL",18344,Autauga County,Alabama,AL,"Autauga County, AL",44434,21591,22843,0.485912,35.6,34.3,36.6
2,01001,2002-07-01,Autauga County,Alabama,AL,"Autauga County, AL",18903,Autauga County,Alabama,AL,"Autauga County, AL",45157,21928,23229,0.485595,35.9,34.6,36.9
3,01001,2003-07-01,Autauga County,Alabama,AL,"Autauga County, AL",19333,Autauga County,Alabama,AL,"Autauga County, AL",45762,22222,23540,0.485599,35.9,34.9,37.0
4,01001,2004-07-01,Autauga County,Alabama,AL,"Autauga County, AL",19783,Autauga County,Alabama,AL,"Autauga County, AL",46933,22765,24168,0.485053,35.8,34.8,36.8

In [5]:
df = df.drop(['state_y','state_abbr_y','county_y', 'county_state_y'],axis=1)
df.head()

,FIPS,date,county_x,state_x,state_abbr_x,county_state_x,housing_units,population_total,population_male,population_female,percent_male,median_age_total,median_age_male,median_age_female
0,01001,2000-07-01,Autauga County,Alabama,AL,"Autauga County, AL",17845,43872,21318,22554,0.485914,35.2,34.0,36.1
1,01001,2001-07-01,Autauga County,Alabama,AL,"Autauga County, AL",18344,44434,21591,22843,0.485912,35.6,34.3,36.6
2,01001,2002-07-01,Autauga County,Alabama,AL,"Autauga County, AL",18903,45157,21928,23229,0.485595,35.9,34.6,36.9
3,01001,2003-07-01,Autauga County,Alabama,AL,"Autauga County, AL",19333,45762,22222,23540,0.485599,35.9,34.9,37.0
4,01001,2004-07-01,Autauga County,Alabama,AL,"Autauga County, AL",19783,46933,22765,24168,0.485053,35.8,34.8,36.8

In [6]:
df = df.rename(columns={'county_x':'county','state_x':'state','state_abbr_x':'state_abbr','county_state_x':'county_state'})
df.head()

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,percent_male,median_age_total,median_age_male,median_age_female
0,01001,2000-07-01,Autauga County,Alabama,AL,"Autauga County, AL",17845,43872,21318,22554,0.485914,35.2,34.0,36.1
1,01001,2001-07-01,Autauga County,Alabama,AL,"Autauga County, AL",18344,44434,21591,22843,0.485912,35.6,34.3,36.6
2,01001,2002-07-01,Autauga County,Alabama,AL,"Autauga County, AL",18903,45157,21928,23229,0.485595,35.9,34.6,36.9
3,01001,2003-07-01,Autauga County,Alabama,AL,"Autauga County, AL",19333,45762,22222,23540,0.485599,35.9,34.9,37.0
4,01001,2004-07-01,Autauga County,Alabama,AL,"Autauga County, AL",19783,46933,22765,24168,0.485053,35.8,34.8,36.8

In [7]:
df.describe()

,housing_units,population_total,population_male,population_female,percent_male,median_age_total,median_age_male,median_age_female
count,7.160500e+04,7.160500e+04,7.160500e+04,7.160500e+04,71605.000000,71605.000000,71605.000000,71605.000000
mean,4.220088e+04,9.965650e+04,4.909756e+04,5.055894e+04,0.499839,40.141782,38.855987,41.473361
std,1.236720e+05,3.187588e+05,1.568888e+05,1.619169e+05,0.021922,5.157853,5.175440,5.232440
min,3.400000e+01,4.000000e+01,2.000000e+01,1.100000e+01,0.420430,20.100000,19.900000,14.800000
25%,5.389000e+03,1.099900e+04,5.494000e+03,5.462000e+03,0.488740,37.000000,35.700000,38.300000
50%,1.219200e+04,2.571900e+04,1.283000e+04,1.288800e+04,0.495782,40.100000,38.700000,41.500000
75%,3.083700e+04,6.743900e+04,3.355500e+04,3.406100e+04,0.504597,43.200000,41.800000,44.700000
max,3.642047e+06,1.009486e+07,4.975410e+06,5.119774e+06,0.784314,68.400000,67.700000,69.000000

In [9]:
df = df.sort_values('date')

In [10]:
income = pd.read_csv('county_income_1969-2022_cleaned_4.csv',dtype = {'FIPS': str})
income.head()

,FIPS,date,county,state_abbr,county_state,adjusted_CPI,average_income,deflated_income
0,01001,1969-07-01,Autauga,AL,"Autauga, AL",62.5,2780.0,19193.0
1,01001,1970-07-01,Autauga,AL,"Autauga, AL",65.3,3158.0,20868.0
2,01001,1971-07-01,Autauga,AL,"Autauga, AL",67.4,3454.0,22113.0
3,01001,1972-07-01,Autauga,AL,"Autauga, AL",69.0,3687.0,23057.0
4,01001,1973-07-01,Autauga,AL,"Autauga, AL",72.5,4039.0,24039.0

In [11]:
df = pd.merge(left=df,right=income,on=['FIPS','date'],how='outer')
df = df.drop(['state_abbr_y','county_y', 'county_state_y'],axis=1)
df = df.rename(columns={'county_x':'county','state_abbr_x':'state_abbr','county_state_x':'county_state'})
df

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,percent_male,median_age_total,median_age_male,median_age_female,adjusted_CPI,average_income,deflated_income
0,01001,2000-07-01,Autauga County,Alabama,AL,"Autauga County, AL",17845.0,43872.0,21318.0,22554.0,0.485914,35.2,34.0,36.1,252.5,23584.0,40303.0
1,39009,2000-07-01,Athens County,Ohio,OH,"Athens County, OH",24951.0,62323.0,30454.0,31869.0,0.488648,25.5,25.2,25.9,252.5,18480.0,31581.0
2,39011,2000-07-01,Auglaize County,Ohio,OH,"Auglaize County, OH",18506.0,46589.0,22879.0,23710.0,0.491082,36.6,35.3,37.8,252.5,28161.0,48125.0
3,17091,2000-07-01,Kankakee County,Illinois,IL,"Kankakee County, IL",40716.0,103879.0,50784.0,53095.0,0.488876,35.3,34.0,36.4,252.5,25153.0,42984.0
4,39013,2000-07-01,Belmont County,Ohio,OH,"Belmont County, OH",31446.0,70124.0,34433.0,35691.0,0.491030,40.9,38.8,43.1,252.5,21925.0,37468.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167896,56045,1995-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,225.0,20523.0,39359.0
167897,56045,1996-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,231.0,20889.0,39020.0
167898,56045,1997-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,236.0,22839.0,41759.0
167899,56045,1998-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,239.2,22834.0,41191.0
167900,56045,1999-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,244.2,24985.0,44148.0

In [12]:
unemp = pd.read_csv('county_unemployment_1990-2023_annual_2.csv',dtype = {'FIPS': str})
unemp.head()

,FIPS,date,county,state_abbr,county_state,unemployment_rate
0,01001,1990-07-01,Autauga County,AL,"Autauga County, AL",6.5
1,01001,1991-07-01,Autauga County,AL,"Autauga County, AL",6.7
2,01001,1992-07-01,Autauga County,AL,"Autauga County, AL",6.5
3,01001,1993-07-01,Autauga County,AL,"Autauga County, AL",5.9
4,01001,1994-07-01,Autauga County,AL,"Autauga County, AL",5.0

In [13]:
df = pd.merge(left=df,right=unemp,on=['FIPS','date'],how='outer')
df = df.drop(['state_abbr_y','county_y', 'county_state_y'],axis=1)
df = df.rename(columns={'county_x':'county','state_abbr_x':'state_abbr','county_state_x':'county_state'})
df

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,percent_male,median_age_total,median_age_male,median_age_female,adjusted_CPI,average_income,deflated_income,unemployment_rate
0,01001,2000-07-01,Autauga County,Alabama,AL,"Autauga County, AL",17845.0,43872.0,21318.0,22554.0,0.485914,35.2,34.0,36.1,252.5,23584.0,40303.0,4.1
1,39009,2000-07-01,Athens County,Ohio,OH,"Athens County, OH",24951.0,62323.0,30454.0,31869.0,0.488648,25.5,25.2,25.9,252.5,18480.0,31581.0,5.7
2,39011,2000-07-01,Auglaize County,Ohio,OH,"Auglaize County, OH",18506.0,46589.0,22879.0,23710.0,0.491082,36.6,35.3,37.8,252.5,28161.0,48125.0,3.6
3,17091,2000-07-01,Kankakee County,Illinois,IL,"Kankakee County, IL",40716.0,103879.0,50784.0,53095.0,0.488876,35.3,34.0,36.4,252.5,25153.0,42984.0,4.4
4,39013,2000-07-01,Belmont County,Ohio,OH,"Belmont County, OH",31446.0,70124.0,34433.0,35691.0,0.491030,40.9,38.8,43.1,252.5,21925.0,37468.0,6.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173674,72153,2019-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.6
173675,72153,2020-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.8
173676,72153,2021-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.7
173677,72153,2022-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.3
173678,72153,2023-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.3

In [14]:
df = df.sort_values('date')

In [15]:
land = pd.read_csv('county_land_area_2010_cleaned.csv', dtype = {'FIPS':str})
land

       FIPS  land_area_sqmi
0     01001          594.44
1     01003         1589.78
2     01005          884.88
3     01007          622.58
4     01009          644.78
...     ...             ...
3117  56037        10426.65
3118  56039         3995.38
3119  56041         2081.26
3120  56043         2238.55
3121  56045         2398.09

[3122 rows x 2 columns]

In [16]:
df = pd.merge(left=df,right=land,on='FIPS',how='outer')
df

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,percent_male,median_age_total,median_age_male,median_age_female,adjusted_CPI,average_income,deflated_income,unemployment_rate,land_area_sqmi
0,22067,1969-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.5,2249.0,15527.0,NaN,794.93
1,22067,1970-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65.3,2536.0,16758.0,NaN,794.93
2,22067,1971-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,67.4,2829.0,18111.0,NaN,794.93
3,22067,1972-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.0,3025.0,18917.0,NaN,794.93
4,22067,1973-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,72.5,3726.0,22176.0,NaN,794.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173674,09140,2023-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.9,604.51
173675,09180,2020-07-01,Southeastern Connecticut Planning Region,Connecticut,CT,"Southeastern Connecticut Planning Region, CT",125294.0,279522.0,140024.0,139498.0,0.500941,41.6,39.8,43.4,380.8,61119.0,69256.0,9.6,664.88
173676,09180,2021-07-01,Southeastern Connecticut Planning Region,Connecticut,CT,"Southeastern Connecticut Planning Region, CT",125685.0,280117.0,140161.0,139956.0,0.500366,41.6,39.9,43.3,399.2,64182.0,69375.0,6.8,664.88
173677,09180,2022-07-01,Southeastern Connecticut Planning Region,Connecticut,CT,"Southeastern Connecticut Planning Region, CT",126063.0,280403.0,140143.0,140260.0,0.499791,41.7,40.0,43.3,431.5,64847.0,64847.0,4.2,664.88
173678,09180,2023-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.6,664.88

In [17]:
df = df.drop(['adjusted_CPI'], axis=1)
df

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,percent_male,median_age_total,median_age_male,median_age_female,average_income,deflated_income,unemployment_rate,land_area_sqmi
0,22067,1969-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2249.0,15527.0,NaN,794.93
1,22067,1970-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2536.0,16758.0,NaN,794.93
2,22067,1971-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2829.0,18111.0,NaN,794.93
3,22067,1972-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3025.0,18917.0,NaN,794.93
4,22067,1973-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3726.0,22176.0,NaN,794.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173674,09140,2023-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.9,604.51
173675,09180,2020-07-01,Southeastern Connecticut Planning Region,Connecticut,CT,"Southeastern Connecticut Planning Region, CT",125294.0,279522.0,140024.0,139498.0,0.500941,41.6,39.8,43.4,61119.0,69256.0,9.6,664.88
173676,09180,2021-07-01,Southeastern Connecticut Planning Region,Connecticut,CT,"Southeastern Connecticut Planning Region, CT",125685.0,280117.0,140161.0,139956.0,0.500366,41.6,39.9,43.3,64182.0,69375.0,6.8,664.88
173677,09180,2022-07-01,Southeastern Connecticut Planning Region,Connecticut,CT,"Southeastern Connecticut Planning Region, CT",126063.0,280403.0,140143.0,140260.0,0.499791,41.7,40.0,43.3,64847.0,64847.0,4.2,664.88
173678,09180,2023-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.6,664.88

In [18]:
homicide = pd.read_csv('county_homicides_1999-2021_annual.csv',dtype = {'FIPS': str})
homicide

,FIPS,date,county,state_abbr,county_state,homicides,population,homicides_per_100k
0,01001,1999-07-01,Autauga County,AL,"Autauga County, AL",NaN,42963,NaN
1,01001,2000-07-01,Autauga County,AL,"Autauga County, AL",NaN,43671,NaN
2,01001,2001-07-01,Autauga County,AL,"Autauga County, AL",NaN,44889,NaN
3,01001,2002-07-01,Autauga County,AL,"Autauga County, AL",NaN,45909,NaN
4,01001,2003-07-01,Autauga County,AL,"Autauga County, AL",NaN,46800,NaN
...,...,...,...,...,...,...,...,...
71556,56045,2017-07-01,Weston County,WY,"Weston County, WY",NaN,6927,NaN
71557,56045,2018-07-01,Weston County,WY,"Weston County, WY",NaN,6967,NaN
71558,56045,2019-07-01,Weston County,WY,"Weston County, WY",NaN,6927,NaN
71559,56045,2020-07-01,Weston County,WY,"Weston County, WY",NaN,6743,NaN
71560,56045,2021-07-01,Weston County,WY,"Weston County, WY",NaN,6745,NaN

In [19]:
df = pd.merge(left=df,right=homicide,on=['FIPS','date'],how='outer')
df

,FIPS,date,county_x,state,state_abbr_x,county_state_x,housing_units,population_total,population_male,population_female,...,average_income,deflated_income,unemployment_rate,land_area_sqmi,county_y,state_abbr_y,county_state_y,homicides,population,homicides_per_100k
0,22067,1969-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2249.0,15527.0,NaN,794.93,NaN,NaN,NaN,NaN,NaN,NaN
1,22067,1970-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2536.0,16758.0,NaN,794.93,NaN,NaN,NaN,NaN,NaN,NaN
2,22067,1971-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2829.0,18111.0,NaN,794.93,NaN,NaN,NaN,NaN,NaN,NaN
3,22067,1972-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3025.0,18917.0,NaN,794.93,NaN,NaN,NaN,NaN,NaN,NaN
4,22067,1973-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3726.0,22176.0,NaN,794.93,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173676,09180,2021-07-01,Southeastern Connecticut Planning Region,Connecticut,CT,"Southeastern Connecticut Planning Region, CT",125685.0,280117.0,140161.0,139956.0,...,64182.0,69375.0,6.8,664.88,New London County,CT,"New London County, CT",NaN,268805.0,NaN
173677,09180,2022-07-01,Southeastern Connecticut Planning Region,Connecticut,CT,"Southeastern Connecticut Planning Region, CT",126063.0,280403.0,140143.0,140260.0,...,64847.0,64847.0,4.2,664.88,NaN,NaN,NaN,NaN,NaN,NaN
173678,09180,2023-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,3.6,664.88,NaN,NaN,NaN,NaN,NaN,NaN
173679,02261,2020-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Valdez-Cordova Census Area,AK,"Valdez-Cordova Census Area, AK",NaN,0.0,NaN
173680,02261,2021-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Valdez-Cordova Census Area,AK,"Valdez-Cordova Census Area, AK",NaN,0.0,NaN

In [20]:
df = df.drop(['state_abbr_y','county_y', 'county_state_y','population','homicides'],axis=1)
df = df.rename(columns={'county_x':'county','state_abbr_x':'state_abbr','county_state_x':'county_state'})
df

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,percent_male,median_age_total,median_age_male,median_age_female,average_income,deflated_income,unemployment_rate,land_area_sqmi,homicides_per_100k
0,22067,1969-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2249.0,15527.0,NaN,794.93,NaN
1,22067,1970-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2536.0,16758.0,NaN,794.93,NaN
2,22067,1971-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2829.0,18111.0,NaN,794.93,NaN
3,22067,1972-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3025.0,18917.0,NaN,794.93,NaN
4,22067,1973-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3726.0,22176.0,NaN,794.93,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173676,09180,2021-07-01,Southeastern Connecticut Planning Region,Connecticut,CT,"Southeastern Connecticut Planning Region, CT",125685.0,280117.0,140161.0,139956.0,0.500366,41.6,39.9,43.3,64182.0,69375.0,6.8,664.88,NaN
173677,09180,2022-07-01,Southeastern Connecticut Planning Region,Connecticut,CT,"Southeastern Connecticut Planning Region, CT",126063.0,280403.0,140143.0,140260.0,0.499791,41.7,40.0,43.3,64847.0,64847.0,4.2,664.88,NaN
173678,09180,2023-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.6,664.88,NaN
173679,02261,2020-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173680,02261,2021-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
hom_5 = pd.read_csv('county_homicides_1999-2020_annual_5_year_avg.csv',dtype = {'FIPS': str})
hom_5

,FIPS,date,county,state_abbr,county_state,homicides,population,homicides_per_100k
0,01001,2001-07-01,Autauga County,AL,"Autauga County, AL",15.0,224232,NaN
1,01001,2002-07-01,Autauga County,AL,"Autauga County, AL",14.0,229635,NaN
2,01001,2003-07-01,Autauga County,AL,"Autauga County, AL",12.0,235640,NaN
3,01001,2004-07-01,Autauga County,AL,"Autauga County, AL",NaN,242079,NaN
4,01001,2005-07-01,Autauga County,AL,"Autauga County, AL",NaN,248575,NaN
...,...,...,...,...,...,...,...,...
56007,56045,2014-07-01,Weston County,WY,"Weston County, WY",NaN,35911,NaN
56008,56045,2015-07-01,Weston County,WY,"Weston County, WY",NaN,35756,NaN
56009,56045,2016-07-01,Weston County,WY,"Weston County, WY",NaN,35565,NaN
56010,56045,2017-07-01,Weston County,WY,"Weston County, WY",NaN,35291,NaN
56011,56045,2018-07-01,Weston County,WY,"Weston County, WY",NaN,34800,NaN

In [22]:
df = df.merge(hom_5, on=['FIPS','date'],how='outer')
df

,FIPS,date,county_x,state,state_abbr_x,county_state_x,housing_units,population_total,population_male,population_female,...,deflated_income,unemployment_rate,land_area_sqmi,homicides_per_100k_x,county_y,state_abbr_y,county_state_y,homicides,population,homicides_per_100k_y
0,22067,1969-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15527.0,NaN,794.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22067,1970-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16758.0,NaN,794.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,22067,1971-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18111.0,NaN,794.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,22067,1972-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18917.0,NaN,794.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,22067,1973-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22176.0,NaN,794.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173676,09180,2021-07-01,Southeastern Connecticut Planning Region,Connecticut,CT,"Southeastern Connecticut Planning Region, CT",125685.0,280117.0,140161.0,139956.0,...,69375.0,6.8,664.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173677,09180,2022-07-01,Southeastern Connecticut Planning Region,Connecticut,CT,"Southeastern Connecticut Planning Region, CT",126063.0,280403.0,140143.0,140260.0,...,64847.0,4.2,664.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173678,09180,2023-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.6,664.88,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173679,02261,2020-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173680,02261,2021-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df = df.drop(['state_abbr_y','county_y', 'county_state_y','population','homicides'],axis=1)
df = df.rename(columns={'county_x':'county','state_abbr_x':'state_abbr','county_state_x':'county_state','homicides_per_100k_x':'homicides_per_100k','homicides_per_100k_y':'homicides_per_100k_5_year_avg'})
df

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,percent_male,median_age_total,median_age_male,median_age_female,average_income,deflated_income,unemployment_rate,land_area_sqmi,homicides_per_100k,homicides_per_100k_5_year_avg
0,22067,1969-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2249.0,15527.0,NaN,794.93,NaN,NaN
1,22067,1970-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2536.0,16758.0,NaN,794.93,NaN,NaN
2,22067,1971-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2829.0,18111.0,NaN,794.93,NaN,NaN
3,22067,1972-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3025.0,18917.0,NaN,794.93,NaN,NaN
4,22067,1973-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3726.0,22176.0,NaN,794.93,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173676,09180,2021-07-01,Southeastern Connecticut Planning Region,Connecticut,CT,"Southeastern Connecticut Planning Region, CT",125685.0,280117.0,140161.0,139956.0,0.500366,41.6,39.9,43.3,64182.0,69375.0,6.8,664.88,NaN,NaN
173677,09180,2022-07-01,Southeastern Connecticut Planning Region,Connecticut,CT,"Southeastern Connecticut Planning Region, CT",126063.0,280403.0,140143.0,140260.0,0.499791,41.7,40.0,43.3,64847.0,64847.0,4.2,664.88,NaN,NaN
173678,09180,2023-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.6,664.88,NaN,NaN
173679,02261,2020-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173680,02261,2021-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
hom_avg = pd.read_csv('county_homicides_1999-2020_avg.csv',dtype = {'FIPS': str})
hom_avg

,FIPS,county,state_abbr,county_state,homicides,population,homicides_per_100k
0,01001,Autauga County,AL,"Autauga County, AL",60.0,1143294,5.2
1,01003,Baldwin County,AL,"Baldwin County, AL",151.0,3987384,3.8
2,01005,Barbour County,AL,"Barbour County, AL",53.0,599031,8.8
3,01007,Bibb County,AL,"Bibb County, AL",42.0,487078,8.6
4,01009,Blount County,AL,"Blount County, AL",67.0,1229334,5.5
...,...,...,...,...,...,...,...
3108,56037,Sweetwater County,WY,"Sweetwater County, WY",26.0,915894,2.8
3109,56039,Teton County,WY,"Teton County, WY",NaN,463622,NaN
3110,56041,Uinta County,WY,"Uinta County, WY",NaN,446562,NaN
3111,56043,Washakie County,WY,"Washakie County, WY",NaN,179874,NaN
3112,56045,Weston County,WY,"Weston County, WY",NaN,152166,NaN

In [25]:
df = df.merge(hom_avg, on=['FIPS'],how='outer')
df.head()

,FIPS,date,county_x,state,state_abbr_x,county_state_x,housing_units,population_total,population_male,population_female,...,unemployment_rate,land_area_sqmi,homicides_per_100k_x,homicides_per_100k_5_year_avg,county_y,state_abbr_y,county_state_y,homicides,population,homicides_per_100k_y
0,22067,1969-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,794.93,NaN,NaN,Morehouse Parish,LA,"Morehouse Parish, LA",81.0,616121.0,13.1
1,22067,1970-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,794.93,NaN,NaN,Morehouse Parish,LA,"Morehouse Parish, LA",81.0,616121.0,13.1
2,22067,1971-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,794.93,NaN,NaN,Morehouse Parish,LA,"Morehouse Parish, LA",81.0,616121.0,13.1
3,22067,1972-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,794.93,NaN,NaN,Morehouse Parish,LA,"Morehouse Parish, LA",81.0,616121.0,13.1
4,22067,1973-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,794.93,NaN,NaN,Morehouse Parish,LA,"Morehouse Parish, LA",81.0,616121.0,13.1

In [26]:
df = df.drop(['state_abbr_y','county_y', 'county_state_y','population','homicides'],axis=1)
df = df.rename(columns={'county_x':'county','state_abbr_x':'state_abbr','county_state_x':'county_state','homicides_per_100k_x':'homicides_per_100k','homicides_per_100k_y':'homicides_per_100k_1999_2020_avg'})
df

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,...,median_age_total,median_age_male,median_age_female,average_income,deflated_income,unemployment_rate,land_area_sqmi,homicides_per_100k,homicides_per_100k_5_year_avg,homicides_per_100k_1999_2020_avg
0,22067,1969-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2249.0,15527.0,NaN,794.93,NaN,NaN,13.1
1,22067,1970-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2536.0,16758.0,NaN,794.93,NaN,NaN,13.1
2,22067,1971-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2829.0,18111.0,NaN,794.93,NaN,NaN,13.1
3,22067,1972-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3025.0,18917.0,NaN,794.93,NaN,NaN,13.1
4,22067,1973-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3726.0,22176.0,NaN,794.93,NaN,NaN,13.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173676,09140,2023-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.9,604.51,NaN,NaN,NaN
173677,09180,2020-07-01,Southeastern Connecticut Planning Region,Connecticut,CT,"Southeastern Connecticut Planning Region, CT",125294.0,279522.0,140024.0,139498.0,...,41.6,39.8,43.4,61119.0,69256.0,9.6,664.88,NaN,NaN,NaN
173678,09180,2021-07-01,Southeastern Connecticut Planning Region,Connecticut,CT,"Southeastern Connecticut Planning Region, CT",125685.0,280117.0,140161.0,139956.0,...,41.6,39.9,43.3,64182.0,69375.0,6.8,664.88,NaN,NaN,NaN
173679,09180,2022-07-01,Southeastern Connecticut Planning Region,Connecticut,CT,"Southeastern Connecticut Planning Region, CT",126063.0,280403.0,140143.0,140260.0,...,41.7,40.0,43.3,64847.0,64847.0,4.2,664.88,NaN,NaN,NaN
173680,09180,2023-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,3.6,664.88,NaN,NaN,NaN

In [27]:
df = df.sort_values(['FIPS','date']).reset_index(drop=True)
df

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,...,median_age_total,median_age_male,median_age_female,average_income,deflated_income,unemployment_rate,land_area_sqmi,homicides_per_100k,homicides_per_100k_5_year_avg,homicides_per_100k_1999_2020_avg
0,01001,1969-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2780.0,19193.0,NaN,594.44,NaN,NaN,5.2
1,01001,1970-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3158.0,20868.0,NaN,594.44,NaN,NaN,5.2
2,01001,1971-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3454.0,22113.0,NaN,594.44,NaN,NaN,5.2
3,01001,1972-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3687.0,23057.0,NaN,594.44,NaN,NaN,5.2
4,01001,1973-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4039.0,24039.0,NaN,594.44,NaN,NaN,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173676,72153,2019-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,14.6,NaN,NaN,NaN,NaN
173677,72153,2020-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12.8,NaN,NaN,NaN,NaN
173678,72153,2021-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11.7,NaN,NaN,NaN,NaN
173679,72153,2022-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.3,NaN,NaN,NaN,NaN
173680,72153,2023-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11.3,NaN,NaN,NaN,NaN

## Fill in county and state names based on FIPS wherever they are missing

In [29]:
df_bfill = df.groupby('FIPS').bfill()[['date','county','state','state_abbr','county_state']]
df_bfill

              date          county    state state_abbr        county_state
0       1969-07-01  Autauga County  Alabama         AL  Autauga County, AL
1       1970-07-01  Autauga County  Alabama         AL  Autauga County, AL
2       1971-07-01  Autauga County  Alabama         AL  Autauga County, AL
3       1972-07-01  Autauga County  Alabama         AL  Autauga County, AL
4       1973-07-01  Autauga County  Alabama         AL  Autauga County, AL
...            ...             ...      ...        ...                 ...
173676  2019-07-01             NaN      NaN        NaN                 NaN
173677  2020-07-01             NaN      NaN        NaN                 NaN
173678  2021-07-01             NaN      NaN        NaN                 NaN
173679  2022-07-01             NaN      NaN        NaN                 NaN
173680  2023-07-01             NaN      NaN        NaN                 NaN

[173681 rows x 5 columns]

In [30]:
df.county = df_bfill.county
df.state = df_bfill.state
df.state_abbr = df_bfill.state_abbr
df.county_state = df_bfill.county_state
df

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,...,median_age_total,median_age_male,median_age_female,average_income,deflated_income,unemployment_rate,land_area_sqmi,homicides_per_100k,homicides_per_100k_5_year_avg,homicides_per_100k_1999_2020_avg
0,01001,1969-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2780.0,19193.0,NaN,594.44,NaN,NaN,5.2
1,01001,1970-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3158.0,20868.0,NaN,594.44,NaN,NaN,5.2
2,01001,1971-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3454.0,22113.0,NaN,594.44,NaN,NaN,5.2
3,01001,1972-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3687.0,23057.0,NaN,594.44,NaN,NaN,5.2
4,01001,1973-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4039.0,24039.0,NaN,594.44,NaN,NaN,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173676,72153,2019-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,14.6,NaN,NaN,NaN,NaN
173677,72153,2020-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12.8,NaN,NaN,NaN,NaN
173678,72153,2021-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11.7,NaN,NaN,NaN,NaN
173679,72153,2022-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.3,NaN,NaN,NaN,NaN
173680,72153,2023-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11.3,NaN,NaN,NaN,NaN

In [31]:
df_ffill = df.groupby('FIPS').ffill()[['date','county','state','state_abbr','county_state']]
df_ffill

              date          county    state state_abbr        county_state
0       1969-07-01  Autauga County  Alabama         AL  Autauga County, AL
1       1970-07-01  Autauga County  Alabama         AL  Autauga County, AL
2       1971-07-01  Autauga County  Alabama         AL  Autauga County, AL
3       1972-07-01  Autauga County  Alabama         AL  Autauga County, AL
4       1973-07-01  Autauga County  Alabama         AL  Autauga County, AL
...            ...             ...      ...        ...                 ...
173676  2019-07-01             NaN      NaN        NaN                 NaN
173677  2020-07-01             NaN      NaN        NaN                 NaN
173678  2021-07-01             NaN      NaN        NaN                 NaN
173679  2022-07-01             NaN      NaN        NaN                 NaN
173680  2023-07-01             NaN      NaN        NaN                 NaN

[173681 rows x 5 columns]

In [32]:
df.county = df_ffill.county
df.state = df_ffill.state
df.state_abbr = df_ffill.state_abbr
df.county_state = df_ffill.county_state
df

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,...,median_age_total,median_age_male,median_age_female,average_income,deflated_income,unemployment_rate,land_area_sqmi,homicides_per_100k,homicides_per_100k_5_year_avg,homicides_per_100k_1999_2020_avg
0,01001,1969-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2780.0,19193.0,NaN,594.44,NaN,NaN,5.2
1,01001,1970-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3158.0,20868.0,NaN,594.44,NaN,NaN,5.2
2,01001,1971-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3454.0,22113.0,NaN,594.44,NaN,NaN,5.2
3,01001,1972-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3687.0,23057.0,NaN,594.44,NaN,NaN,5.2
4,01001,1973-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4039.0,24039.0,NaN,594.44,NaN,NaN,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173676,72153,2019-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,14.6,NaN,NaN,NaN,NaN
173677,72153,2020-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12.8,NaN,NaN,NaN,NaN
173678,72153,2021-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11.7,NaN,NaN,NaN,NaN
173679,72153,2022-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.3,NaN,NaN,NaN,NaN
173680,72153,2023-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,11.3,NaN,NaN,NaN,NaN

## Remove unneeded rows

In [33]:
#Remove Peurto Rico
df = df.loc[(df.FIPS < '72000')]
df

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,...,median_age_total,median_age_male,median_age_female,average_income,deflated_income,unemployment_rate,land_area_sqmi,homicides_per_100k,homicides_per_100k_5_year_avg,homicides_per_100k_1999_2020_avg
0,01001,1969-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2780.0,19193.0,NaN,594.44,NaN,NaN,5.2
1,01001,1970-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3158.0,20868.0,NaN,594.44,NaN,NaN,5.2
2,01001,1971-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3454.0,22113.0,NaN,594.44,NaN,NaN,5.2
3,01001,1972-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3687.0,23057.0,NaN,594.44,NaN,NaN,5.2
4,01001,1973-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,4039.0,24039.0,NaN,594.44,NaN,NaN,5.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171024,56045,2019-07-01,Weston County,Wyoming,WY,"Weston County, WY",3568.0,6880.0,3615.0,3265.0,...,44.3,43.8,44.9,45546.0,52297.0,3.0,2398.09,NaN,NaN,NaN
171025,56045,2020-07-01,Weston County,Wyoming,WY,"Weston County, WY",3406.0,6818.0,3724.0,3094.0,...,43.5,42.6,44.8,49854.0,56492.0,3.9,2398.09,NaN,NaN,NaN
171026,56045,2021-07-01,Weston County,Wyoming,WY,"Weston County, WY",3407.0,6766.0,3729.0,3037.0,...,43.9,43.1,45.3,49734.0,53758.0,3.3,2398.09,NaN,NaN,NaN
171027,56045,2022-07-01,Weston County,Wyoming,WY,"Weston County, WY",3410.0,6860.0,3800.0,3060.0,...,44.5,43.6,46.0,50987.0,50987.0,2.7,2398.09,NaN,NaN,NaN
171028,56045,2023-07-01,Weston County,Wyoming,WY,"Weston County, WY",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.2,2398.09,NaN,NaN,NaN

In [36]:
#Remove two placeholder counties
df = df.drop(list(df.loc[(df.land_area_sqmi.isna())].index))

## Feature generation

### Housing rate

In [37]:
df['housing_rate'] = round(df.population_total/df.housing_units,2)
df.loc[(df.date == '2001-07-01')]

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,...,median_age_male,median_age_female,average_income,deflated_income,unemployment_rate,land_area_sqmi,homicides_per_100k,homicides_per_100k_5_year_avg,homicides_per_100k_1999_2020_avg,housing_rate
32,01001,2001-07-01,Autauga County,Alabama,AL,"Autauga County, AL",18344.0,44434.0,21591.0,22843.0,...,34.3,36.6,24643.0,40945.0,4.1,594.44,NaN,NaN,5.2,2.42
87,01003,2001-07-01,Baldwin County,Alabama,AL,"Baldwin County, AL",77532.0,144988.0,71100.0,73888.0,...,38.4,40.4,27222.0,45230.0,4.4,1589.78,NaN,5.1,3.8,1.87
142,01005,2001-07-01,Barbour County,Alabama,AL,"Barbour County, AL",12580.0,29223.0,15101.0,14122.0,...,33.8,38.5,19971.0,33182.0,7.6,884.88,NaN,NaN,8.8,2.32
197,01007,2001-07-01,Bibb County,Alabama,AL,"Bibb County, AL",8520.0,20942.0,10795.0,10147.0,...,34.5,36.2,17780.0,29542.0,6.8,622.58,NaN,NaN,8.6,2.46
252,01009,2001-07-01,Blount County,Alabama,AL,"Blount County, AL",21682.0,51999.0,25974.0,26025.0,...,35.6,37.8,21223.0,35263.0,3.6,644.78,NaN,NaN,5.5,2.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170786,56037,2001-07-01,Sweetwater County,Wyoming,WY,"Sweetwater County, WY",16140.0,36566.0,18530.0,18036.0,...,35.0,35.0,30811.0,51193.0,3.9,10426.65,NaN,NaN,2.8,2.27
170841,56039,2001-07-01,Teton County,Wyoming,WY,"Teton County, WY",10685.0,18594.0,9929.0,8665.0,...,34.0,36.1,77197.0,128265.0,2.7,3995.38,NaN,NaN,NaN,1.74
170896,56041,2001-07-01,Uinta County,Wyoming,WY,"Uinta County, WY",8099.0,19406.0,9879.0,9527.0,...,31.3,32.7,26946.0,44772.0,3.7,2081.26,NaN,NaN,NaN,2.40
170951,56043,2001-07-01,Washakie County,Wyoming,WY,"Washakie County, WY",3686.0,8023.0,4009.0,4014.0,...,39.6,41.5,28938.0,48081.0,4.3,2238.55,NaN,NaN,NaN,2.18
171006,56045,2001-07-01,Weston County,Wyoming,WY,"Weston County, WY",3280.0,6472.0,3299.0,3173.0,...,41.0,42.5,28376.0,47148.0,4.2,2398.09,NaN,NaN,NaN,1.97

### Population density

In [39]:
df['pop_density'] = round(df.population_total/df.land_area_sqmi,3)
df.loc[(df.date == '2001-07-01')]

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,...,median_age_female,average_income,deflated_income,unemployment_rate,land_area_sqmi,homicides_per_100k,homicides_per_100k_5_year_avg,homicides_per_100k_1999_2020_avg,housing_rate,pop_density
32,01001,2001-07-01,Autauga County,Alabama,AL,"Autauga County, AL",18344.0,44434.0,21591.0,22843.0,...,36.6,24643.0,40945.0,4.1,594.44,NaN,NaN,5.2,2.42,74.749
87,01003,2001-07-01,Baldwin County,Alabama,AL,"Baldwin County, AL",77532.0,144988.0,71100.0,73888.0,...,40.4,27222.0,45230.0,4.4,1589.78,NaN,5.1,3.8,1.87,91.200
142,01005,2001-07-01,Barbour County,Alabama,AL,"Barbour County, AL",12580.0,29223.0,15101.0,14122.0,...,38.5,19971.0,33182.0,7.6,884.88,NaN,NaN,8.8,2.32,33.025
197,01007,2001-07-01,Bibb County,Alabama,AL,"Bibb County, AL",8520.0,20942.0,10795.0,10147.0,...,36.2,17780.0,29542.0,6.8,622.58,NaN,NaN,8.6,2.46,33.637
252,01009,2001-07-01,Blount County,Alabama,AL,"Blount County, AL",21682.0,51999.0,25974.0,26025.0,...,37.8,21223.0,35263.0,3.6,644.78,NaN,NaN,5.5,2.40,80.646
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170786,56037,2001-07-01,Sweetwater County,Wyoming,WY,"Sweetwater County, WY",16140.0,36566.0,18530.0,18036.0,...,35.0,30811.0,51193.0,3.9,10426.65,NaN,NaN,2.8,2.27,3.507
170841,56039,2001-07-01,Teton County,Wyoming,WY,"Teton County, WY",10685.0,18594.0,9929.0,8665.0,...,36.1,77197.0,128265.0,2.7,3995.38,NaN,NaN,NaN,1.74,4.654
170896,56041,2001-07-01,Uinta County,Wyoming,WY,"Uinta County, WY",8099.0,19406.0,9879.0,9527.0,...,32.7,26946.0,44772.0,3.7,2081.26,NaN,NaN,NaN,2.40,9.324
170951,56043,2001-07-01,Washakie County,Wyoming,WY,"Washakie County, WY",3686.0,8023.0,4009.0,4014.0,...,41.5,28938.0,48081.0,4.3,2238.55,NaN,NaN,NaN,2.18,3.584
171006,56045,2001-07-01,Weston County,Wyoming,WY,"Weston County, WY",3280.0,6472.0,3299.0,3173.0,...,42.5,28376.0,47148.0,4.2,2398.09,NaN,NaN,NaN,1.97,2.699

### Annual population change

In [40]:
df['pop_shift'] = df.groupby('FIPS').shift(-1)['population_total']
df.loc[(df.date == '2001-07-01')]

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,...,average_income,deflated_income,unemployment_rate,land_area_sqmi,homicides_per_100k,homicides_per_100k_5_year_avg,homicides_per_100k_1999_2020_avg,housing_rate,pop_density,pop_shift
32,01001,2001-07-01,Autauga County,Alabama,AL,"Autauga County, AL",18344.0,44434.0,21591.0,22843.0,...,24643.0,40945.0,4.1,594.44,NaN,NaN,5.2,2.42,74.749,45157.0
87,01003,2001-07-01,Baldwin County,Alabama,AL,"Baldwin County, AL",77532.0,144988.0,71100.0,73888.0,...,27222.0,45230.0,4.4,1589.78,NaN,5.1,3.8,1.87,91.200,148141.0
142,01005,2001-07-01,Barbour County,Alabama,AL,"Barbour County, AL",12580.0,29223.0,15101.0,14122.0,...,19971.0,33182.0,7.6,884.88,NaN,NaN,8.8,2.32,33.025,29289.0
197,01007,2001-07-01,Bibb County,Alabama,AL,"Bibb County, AL",8520.0,20942.0,10795.0,10147.0,...,17780.0,29542.0,6.8,622.58,NaN,NaN,8.6,2.46,33.637,20983.0
252,01009,2001-07-01,Blount County,Alabama,AL,"Blount County, AL",21682.0,51999.0,25974.0,26025.0,...,21223.0,35263.0,3.6,644.78,NaN,NaN,5.5,2.40,80.646,52775.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170786,56037,2001-07-01,Sweetwater County,Wyoming,WY,"Sweetwater County, WY",16140.0,36566.0,18530.0,18036.0,...,30811.0,51193.0,3.9,10426.65,NaN,NaN,2.8,2.27,3.507,36831.0
170841,56039,2001-07-01,Teton County,Wyoming,WY,"Teton County, WY",10685.0,18594.0,9929.0,8665.0,...,77197.0,128265.0,2.7,3995.38,NaN,NaN,NaN,1.74,4.654,18727.0
170896,56041,2001-07-01,Uinta County,Wyoming,WY,"Uinta County, WY",8099.0,19406.0,9879.0,9527.0,...,26946.0,44772.0,3.7,2081.26,NaN,NaN,NaN,2.40,9.324,19567.0
170951,56043,2001-07-01,Washakie County,Wyoming,WY,"Washakie County, WY",3686.0,8023.0,4009.0,4014.0,...,28938.0,48081.0,4.3,2238.55,NaN,NaN,NaN,2.18,3.584,7890.0
171006,56045,2001-07-01,Weston County,Wyoming,WY,"Weston County, WY",3280.0,6472.0,3299.0,3173.0,...,28376.0,47148.0,4.2,2398.09,NaN,NaN,NaN,1.97,2.699,6538.0

In [41]:
df['pop_change'] = round(((df.pop_shift-df.population_total)/df.population_total)*100,2)
df.loc[(df.date == '2001-07-01')]

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,...,deflated_income,unemployment_rate,land_area_sqmi,homicides_per_100k,homicides_per_100k_5_year_avg,homicides_per_100k_1999_2020_avg,housing_rate,pop_density,pop_shift,pop_change
32,01001,2001-07-01,Autauga County,Alabama,AL,"Autauga County, AL",18344.0,44434.0,21591.0,22843.0,...,40945.0,4.1,594.44,NaN,NaN,5.2,2.42,74.749,45157.0,1.63
87,01003,2001-07-01,Baldwin County,Alabama,AL,"Baldwin County, AL",77532.0,144988.0,71100.0,73888.0,...,45230.0,4.4,1589.78,NaN,5.1,3.8,1.87,91.200,148141.0,2.17
142,01005,2001-07-01,Barbour County,Alabama,AL,"Barbour County, AL",12580.0,29223.0,15101.0,14122.0,...,33182.0,7.6,884.88,NaN,NaN,8.8,2.32,33.025,29289.0,0.23
197,01007,2001-07-01,Bibb County,Alabama,AL,"Bibb County, AL",8520.0,20942.0,10795.0,10147.0,...,29542.0,6.8,622.58,NaN,NaN,8.6,2.46,33.637,20983.0,0.20
252,01009,2001-07-01,Blount County,Alabama,AL,"Blount County, AL",21682.0,51999.0,25974.0,26025.0,...,35263.0,3.6,644.78,NaN,NaN,5.5,2.40,80.646,52775.0,1.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170786,56037,2001-07-01,Sweetwater County,Wyoming,WY,"Sweetwater County, WY",16140.0,36566.0,18530.0,18036.0,...,51193.0,3.9,10426.65,NaN,NaN,2.8,2.27,3.507,36831.0,0.72
170841,56039,2001-07-01,Teton County,Wyoming,WY,"Teton County, WY",10685.0,18594.0,9929.0,8665.0,...,128265.0,2.7,3995.38,NaN,NaN,NaN,1.74,4.654,18727.0,0.72
170896,56041,2001-07-01,Uinta County,Wyoming,WY,"Uinta County, WY",8099.0,19406.0,9879.0,9527.0,...,44772.0,3.7,2081.26,NaN,NaN,NaN,2.40,9.324,19567.0,0.83
170951,56043,2001-07-01,Washakie County,Wyoming,WY,"Washakie County, WY",3686.0,8023.0,4009.0,4014.0,...,48081.0,4.3,2238.55,NaN,NaN,NaN,2.18,3.584,7890.0,-1.66
171006,56045,2001-07-01,Weston County,Wyoming,WY,"Weston County, WY",3280.0,6472.0,3299.0,3173.0,...,47148.0,4.2,2398.09,NaN,NaN,NaN,1.97,2.699,6538.0,1.02

In [42]:
df = df.drop('pop_shift',axis=1)
df.loc[(df.date == '2001-07-01')]

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,...,average_income,deflated_income,unemployment_rate,land_area_sqmi,homicides_per_100k,homicides_per_100k_5_year_avg,homicides_per_100k_1999_2020_avg,housing_rate,pop_density,pop_change
32,01001,2001-07-01,Autauga County,Alabama,AL,"Autauga County, AL",18344.0,44434.0,21591.0,22843.0,...,24643.0,40945.0,4.1,594.44,NaN,NaN,5.2,2.42,74.749,1.63
87,01003,2001-07-01,Baldwin County,Alabama,AL,"Baldwin County, AL",77532.0,144988.0,71100.0,73888.0,...,27222.0,45230.0,4.4,1589.78,NaN,5.1,3.8,1.87,91.200,2.17
142,01005,2001-07-01,Barbour County,Alabama,AL,"Barbour County, AL",12580.0,29223.0,15101.0,14122.0,...,19971.0,33182.0,7.6,884.88,NaN,NaN,8.8,2.32,33.025,0.23
197,01007,2001-07-01,Bibb County,Alabama,AL,"Bibb County, AL",8520.0,20942.0,10795.0,10147.0,...,17780.0,29542.0,6.8,622.58,NaN,NaN,8.6,2.46,33.637,0.20
252,01009,2001-07-01,Blount County,Alabama,AL,"Blount County, AL",21682.0,51999.0,25974.0,26025.0,...,21223.0,35263.0,3.6,644.78,NaN,NaN,5.5,2.40,80.646,1.49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
170786,56037,2001-07-01,Sweetwater County,Wyoming,WY,"Sweetwater County, WY",16140.0,36566.0,18530.0,18036.0,...,30811.0,51193.0,3.9,10426.65,NaN,NaN,2.8,2.27,3.507,0.72
170841,56039,2001-07-01,Teton County,Wyoming,WY,"Teton County, WY",10685.0,18594.0,9929.0,8665.0,...,77197.0,128265.0,2.7,3995.38,NaN,NaN,NaN,1.74,4.654,0.72
170896,56041,2001-07-01,Uinta County,Wyoming,WY,"Uinta County, WY",8099.0,19406.0,9879.0,9527.0,...,26946.0,44772.0,3.7,2081.26,NaN,NaN,NaN,2.40,9.324,0.83
170951,56043,2001-07-01,Washakie County,Wyoming,WY,"Washakie County, WY",3686.0,8023.0,4009.0,4014.0,...,28938.0,48081.0,4.3,2238.55,NaN,NaN,NaN,2.18,3.584,-1.66
171006,56045,2001-07-01,Weston County,Wyoming,WY,"Weston County, WY",3280.0,6472.0,3299.0,3173.0,...,28376.0,47148.0,4.2,2398.09,NaN,NaN,NaN,1.97,2.699,1.02

### Annual income change

In [43]:
df = df.rename(columns={'average_income':'income','uninflated_income':'real_income'})

In [44]:
df['income_shift'] = df.groupby('FIPS').shift(-1)['income']
df['income_change'] = round(((df.income_shift-df.income)/df.income)*100,2)
df = df.drop('income_shift',axis=1)
df

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,...,real_income,unemployment_rate,land_area_sqmi,homicides_per_100k,homicides_per_100k_5_year_avg,homicides_per_100k_1999_2020_avg,housing_rate,pop_density,pop_change,income_change
0,01001,1969-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,19193.0,NaN,594.44,NaN,NaN,5.2,NaN,NaN,NaN,13.60
1,01001,1970-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,20868.0,NaN,594.44,NaN,NaN,5.2,NaN,NaN,NaN,9.37
2,01001,1971-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,22113.0,NaN,594.44,NaN,NaN,5.2,NaN,NaN,NaN,6.75
3,01001,1972-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,23057.0,NaN,594.44,NaN,NaN,5.2,NaN,NaN,NaN,9.55
4,01001,1973-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,24039.0,NaN,594.44,NaN,NaN,5.2,NaN,NaN,NaN,5.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171024,56045,2019-07-01,Weston County,Wyoming,WY,"Weston County, WY",3568.0,6880.0,3615.0,3265.0,...,52297.0,3.0,2398.09,NaN,NaN,NaN,1.93,2.869,-0.90,9.46
171025,56045,2020-07-01,Weston County,Wyoming,WY,"Weston County, WY",3406.0,6818.0,3724.0,3094.0,...,56492.0,3.9,2398.09,NaN,NaN,NaN,2.00,2.843,-0.76,-0.24
171026,56045,2021-07-01,Weston County,Wyoming,WY,"Weston County, WY",3407.0,6766.0,3729.0,3037.0,...,53758.0,3.3,2398.09,NaN,NaN,NaN,1.99,2.821,1.39,2.52
171027,56045,2022-07-01,Weston County,Wyoming,WY,"Weston County, WY",3410.0,6860.0,3800.0,3060.0,...,50987.0,2.7,2398.09,NaN,NaN,NaN,2.01,2.861,NaN,NaN
171028,56045,2023-07-01,Weston County,Wyoming,WY,"Weston County, WY",NaN,NaN,NaN,NaN,...,NaN,2.2,2398.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
df['real_income_shift'] = df.groupby('FIPS').shift(-1)['real_income']
df['real_income_change'] = round(((df.real_income_shift-df.real_income)/df.real_income)*100,2)
df = df.drop('real_income_shift',axis=1)
df

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,...,unemployment_rate,land_area_sqmi,homicides_per_100k,homicides_per_100k_5_year_avg,homicides_per_100k_1999_2020_avg,housing_rate,pop_density,pop_change,income_change,real_income_change
0,01001,1969-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,NaN,594.44,NaN,NaN,5.2,NaN,NaN,NaN,13.60,8.73
1,01001,1970-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,NaN,594.44,NaN,NaN,5.2,NaN,NaN,NaN,9.37,5.97
2,01001,1971-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,NaN,594.44,NaN,NaN,5.2,NaN,NaN,NaN,6.75,4.27
3,01001,1972-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,NaN,594.44,NaN,NaN,5.2,NaN,NaN,NaN,9.55,4.26
4,01001,1973-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,NaN,594.44,NaN,NaN,5.2,NaN,NaN,NaN,5.13,-4.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171024,56045,2019-07-01,Weston County,Wyoming,WY,"Weston County, WY",3568.0,6880.0,3615.0,3265.0,...,3.0,2398.09,NaN,NaN,NaN,1.93,2.869,-0.90,9.46,8.02
171025,56045,2020-07-01,Weston County,Wyoming,WY,"Weston County, WY",3406.0,6818.0,3724.0,3094.0,...,3.9,2398.09,NaN,NaN,NaN,2.00,2.843,-0.76,-0.24,-4.84
171026,56045,2021-07-01,Weston County,Wyoming,WY,"Weston County, WY",3407.0,6766.0,3729.0,3037.0,...,3.3,2398.09,NaN,NaN,NaN,1.99,2.821,1.39,2.52,-5.15
171027,56045,2022-07-01,Weston County,Wyoming,WY,"Weston County, WY",3410.0,6860.0,3800.0,3060.0,...,2.7,2398.09,NaN,NaN,NaN,2.01,2.861,NaN,NaN,NaN
171028,56045,2023-07-01,Weston County,Wyoming,WY,"Weston County, WY",NaN,NaN,NaN,NaN,...,2.2,2398.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Quantiles

In [47]:
quantiles = pd.qcut(df.population_total, 20, labels=False)
df = df.assign(pop_quantiles=quantiles.values)

In [48]:
quantiles = pd.qcut(df.pop_density, 20, labels=False)
df = df.assign(pop_density_quantiles=quantiles.values)

In [49]:
quantiles = pd.qcut(df.real_income, 20, labels=False)
df = df.assign(real_income_quantiles=quantiles.values)

In [50]:
df.pop_quantiles = df.pop_quantiles + 1
df.pop_density_quantiles = df.pop_density_quantiles + 1
df.real_income_quantiles = df.real_income_quantiles + 1

In [51]:
df.loc[(df.pop_density_quantiles == 20)]

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,...,homicides_per_100k_5_year_avg,homicides_per_100k_1999_2020_avg,housing_rate,pop_density,pop_change,income_change,real_income_change,pop_quantiles,pop_density_quantiles,real_income_quantiles
10126,06001,2000-07-01,Alameda County,California,CA,"Alameda County, CA",541385.0,1450220.0,712867.0,737353.0,...,NaN,8.1,2.68,1962.356,1.29,1.22,-1.59,20.0,20.0,20.0
10127,06001,2001-07-01,Alameda County,California,CA,"Alameda County, CA",546269.0,1468918.0,723272.0,745646.0,...,8.4,8.1,2.69,1987.657,-0.57,-0.58,-2.12,20.0,20.0,20.0
10128,06001,2002-07-01,Alameda County,California,CA,"Alameda County, CA",550054.0,1460576.0,719543.0,741033.0,...,8.5,8.1,2.66,1976.369,-0.66,2.34,0.07,20.0,20.0,20.0
10129,06001,2003-07-01,Alameda County,California,CA,"Alameda County, CA",553821.0,1450968.0,714556.0,736412.0,...,8.6,8.1,2.62,1963.368,-0.63,3.74,1.04,20.0,20.0,20.0
10130,06001,2004-07-01,Alameda County,California,CA,"Alameda County, CA",558677.0,1441781.0,710351.0,731430.0,...,9.7,8.1,2.58,1950.936,-0.37,3.49,0.10,20.0,20.0,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168055,55079,2020-07-01,Milwaukee County,Wisconsin,WI,"Milwaukee County, WI",424099.0,938527.0,457776.0,480751.0,...,NaN,13.0,2.21,3887.850,-1.53,10.49,5.40,20.0,20.0,19.0
168056,55079,2021-07-01,Milwaukee County,Wisconsin,WI,"Milwaukee County, WI",424100.0,924207.0,449927.0,474280.0,...,NaN,13.0,2.18,3828.529,-0.60,0.40,-7.12,20.0,20.0,19.0
168057,55079,2022-07-01,Milwaukee County,Wisconsin,WI,"Milwaukee County, WI",423714.0,918661.0,447118.0,471543.0,...,NaN,13.0,2.17,3805.555,NaN,NaN,NaN,20.0,20.0,19.0
169541,55133,2021-07-01,Waukesha County,Wisconsin,WI,"Waukesha County, WI",173374.0,409080.0,203207.0,205873.0,...,NaN,1.2,2.36,744.364,0.33,4.12,-3.67,19.0,20.0,20.0
169542,55133,2022-07-01,Waukesha County,Wisconsin,WI,"Waukesha County, WI",174972.0,410434.0,204074.0,206360.0,...,NaN,1.2,2.35,746.828,NaN,NaN,NaN,19.0,20.0,20.0

### Housing rate divergence

In [52]:
dfreg = df.loc[~(df.housing_rate.isna())]
dfreg = dfreg.loc[~(df.median_age_total.isna())]
dfreg

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,...,homicides_per_100k_5_year_avg,homicides_per_100k_1999_2020_avg,housing_rate,pop_density,pop_change,income_change,real_income_change,pop_quantiles,pop_density_quantiles,real_income_quantiles
31,01001,2000-07-01,Autauga County,Alabama,AL,"Autauga County, AL",17845.0,43872.0,21318.0,22554.0,...,NaN,5.2,2.46,73.804,1.28,4.49,1.59,14.0,14.0,13.0
32,01001,2001-07-01,Autauga County,Alabama,AL,"Autauga County, AL",18344.0,44434.0,21591.0,22843.0,...,NaN,5.2,2.42,74.749,1.63,1.78,0.20,14.0,14.0,14.0
33,01001,2002-07-01,Autauga County,Alabama,AL,"Autauga County, AL",18903.0,45157.0,21928.0,23229.0,...,NaN,5.2,2.39,75.966,1.34,5.65,3.30,14.0,14.0,14.0
34,01001,2003-07-01,Autauga County,Alabama,AL,"Autauga County, AL",19333.0,45762.0,22222.0,23540.0,...,NaN,5.2,2.37,76.983,2.56,4.70,1.98,14.0,14.0,14.0
35,01001,2004-07-01,Autauga County,Alabama,AL,"Autauga County, AL",19783.0,46933.0,22765.0,24168.0,...,NaN,5.2,2.37,78.953,2.00,4.54,1.11,14.0,14.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171023,56045,2018-07-01,Weston County,Wyoming,WY,"Weston County, WY",3569.0,6895.0,3624.0,3271.0,...,NaN,NaN,1.93,2.875,-0.22,1.99,0.17,3.0,2.0,18.0
171024,56045,2019-07-01,Weston County,Wyoming,WY,"Weston County, WY",3568.0,6880.0,3615.0,3265.0,...,NaN,NaN,1.93,2.869,-0.90,9.46,8.02,3.0,2.0,18.0
171025,56045,2020-07-01,Weston County,Wyoming,WY,"Weston County, WY",3406.0,6818.0,3724.0,3094.0,...,NaN,NaN,2.00,2.843,-0.76,-0.24,-4.84,3.0,2.0,19.0
171026,56045,2021-07-01,Weston County,Wyoming,WY,"Weston County, WY",3407.0,6766.0,3729.0,3037.0,...,NaN,NaN,1.99,2.821,1.39,2.52,-5.15,3.0,2.0,18.0
171027,56045,2022-07-01,Weston County,Wyoming,WY,"Weston County, WY",3410.0,6860.0,3800.0,3060.0,...,NaN,NaN,2.01,2.861,NaN,NaN,NaN,3.0,2.0,18.0

In [53]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(dfreg[['median_age_total']],dfreg.housing_rate)
r2_score = lr.score(dfreg[['median_age_total']],dfreg.housing_rate)
r2_score

0.491745427073065

In [54]:
dfreg['housing_rate_divergence']= dfreg.housing_rate - lr.predict(dfreg[['median_age_total']])
dfreg

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,...,homicides_per_100k_1999_2020_avg,housing_rate,pop_density,pop_change,income_change,real_income_change,pop_quantiles,pop_density_quantiles,real_income_quantiles,housing_rate_divergence
31,01001,2000-07-01,Autauga County,Alabama,AL,"Autauga County, AL",17845.0,43872.0,21318.0,22554.0,...,5.2,2.46,73.804,1.28,4.49,1.59,14.0,14.0,13.0,0.056187
32,01001,2001-07-01,Autauga County,Alabama,AL,"Autauga County, AL",18344.0,44434.0,21591.0,22843.0,...,5.2,2.42,74.749,1.63,1.78,0.20,14.0,14.0,14.0,0.036563
33,01001,2002-07-01,Autauga County,Alabama,AL,"Autauga County, AL",18903.0,45157.0,21928.0,23229.0,...,5.2,2.39,75.966,1.34,5.65,3.30,14.0,14.0,14.0,0.021845
34,01001,2003-07-01,Autauga County,Alabama,AL,"Autauga County, AL",19333.0,45762.0,22222.0,23540.0,...,5.2,2.37,76.983,2.56,4.70,1.98,14.0,14.0,14.0,0.001845
35,01001,2004-07-01,Autauga County,Alabama,AL,"Autauga County, AL",19783.0,46933.0,22765.0,24168.0,...,5.2,2.37,78.953,2.00,4.54,1.11,14.0,14.0,15.0,-0.003249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171023,56045,2018-07-01,Weston County,Wyoming,WY,"Weston County, WY",3569.0,6895.0,3624.0,3271.0,...,NaN,1.93,2.875,-0.22,1.99,0.17,3.0,2.0,18.0,-0.035724
171024,56045,2019-07-01,Weston County,Wyoming,WY,"Weston County, WY",3568.0,6880.0,3615.0,3265.0,...,NaN,1.93,2.869,-0.90,9.46,8.02,3.0,2.0,18.0,-0.010253
171025,56045,2020-07-01,Weston County,Wyoming,WY,"Weston County, WY",3406.0,6818.0,3724.0,3094.0,...,NaN,2.00,2.843,-0.76,-0.24,-4.84,3.0,2.0,19.0,0.018994
171026,56045,2021-07-01,Weston County,Wyoming,WY,"Weston County, WY",3407.0,6766.0,3729.0,3037.0,...,NaN,1.99,2.821,1.39,2.52,-5.15,3.0,2.0,18.0,0.029371
171027,56045,2022-07-01,Weston County,Wyoming,WY,"Weston County, WY",3410.0,6860.0,3800.0,3060.0,...,NaN,2.01,2.861,NaN,NaN,NaN,3.0,2.0,18.0,0.079935

In [55]:
dfreg.housing_rate_divergence

31        0.056187
32        0.036563
33        0.021845
34        0.001845
35       -0.003249
            ...
171023   -0.035724
171024   -0.010253
171025    0.018994
171026    0.029371
171027    0.079935
Name: housing_rate_divergence, Length: 71605, dtype: float64

In [56]:
df = df.join(dfreg.housing_rate_divergence, how='outer')
df

,FIPS,date,county,state,state_abbr,county_state,housing_units,population_total,population_male,population_female,...,homicides_per_100k_1999_2020_avg,housing_rate,pop_density,pop_change,income_change,real_income_change,pop_quantiles,pop_density_quantiles,real_income_quantiles,housing_rate_divergence
0,01001,1969-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,5.2,NaN,NaN,NaN,13.60,8.73,NaN,NaN,1.0,NaN
1,01001,1970-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,5.2,NaN,NaN,NaN,9.37,5.97,NaN,NaN,2.0,NaN
2,01001,1971-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,5.2,NaN,NaN,NaN,6.75,4.27,NaN,NaN,2.0,NaN
3,01001,1972-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,5.2,NaN,NaN,NaN,9.55,4.26,NaN,NaN,2.0,NaN
4,01001,1973-07-01,Autauga County,Alabama,AL,"Autauga County, AL",NaN,NaN,NaN,NaN,...,5.2,NaN,NaN,NaN,5.13,-4.13,NaN,NaN,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171024,56045,2019-07-01,Weston County,Wyoming,WY,"Weston County, WY",3568.0,6880.0,3615.0,3265.0,...,NaN,1.93,2.869,-0.90,9.46,8.02,3.0,2.0,18.0,-0.010253
171025,56045,2020-07-01,Weston County,Wyoming,WY,"Weston County, WY",3406.0,6818.0,3724.0,3094.0,...,NaN,2.00,2.843,-0.76,-0.24,-4.84,3.0,2.0,19.0,0.018994
171026,56045,2021-07-01,Weston County,Wyoming,WY,"Weston County, WY",3407.0,6766.0,3729.0,3037.0,...,NaN,1.99,2.821,1.39,2.52,-5.15,3.0,2.0,18.0,0.029371
171027,56045,2022-07-01,Weston County,Wyoming,WY,"Weston County, WY",3410.0,6860.0,3800.0,3060.0,...,NaN,2.01,2.861,NaN,NaN,NaN,3.0,2.0,18.0,0.079935
171028,56045,2023-07-01,Weston County,Wyoming,WY,"Weston County, WY",NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
df.housing_rate_divergence.describe()

count    7.160500e+04
mean    -9.684934e-17
std      2.671185e-01
min     -1.719645e+00
25%     -1.238422e-01
50%      2.109275e-02
75%      1.491969e-01
max      3.094653e+00
Name: housing_rate_divergence, dtype: float64

In [58]:
df.housing_rate.describe()

count    71605.000000
mean         2.152076
std          0.374682
min          0.490000
25%          1.960000
50%          2.190000
75%          2.370000
max          5.730000
Name: housing_rate, dtype: float64

## Export to csv

In [61]:
#df.to_csv('county_data_join.csv',index=False)