In [1]:
import pandas as pd
pd.options.mode.copy_on_write = True

Data from US census.\
April 1, 2000 to July 1, 2009 (CC-EST2009-AGESEX)\
April 1, 2010 to July 1, 2019 (CC-EST2020-AGESEX)\
April 1, 2020 to July 1, 2022 (CC-EST2022-AGESEX)\
See "Get_median_age_county_data.ipynb" for how the data was gathered and merged.

In [2]:
df = pd.read_csv('county_median_age_2000-2022_raw.csv')

In [3]:
df

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE6569_FEM,AGE7074_TOT,AGE7074_MALE,AGE7074_FEM,AGE7579_TOT,AGE7579_MALE,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM
0,50,1,1,Alabama,Autauga County,2000-07-01,43872,21318,22554,3027,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,50,1,3,Alabama,Baldwin County,2000-07-01,141358,69323,72035,8653,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,50,1,5,Alabama,Barbour County,2000-07-01,29035,14969,14066,1781,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,50,1,7,Alabama,Bibb County,2000-07-01,19936,9834,10102,1447,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,50,1,9,Alabama,Blount County,2000-07-01,51181,25559,25622,3533,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72287,50,56,37,Wyoming,Sweetwater County,2022-07-01,41345,21469,19876,2319,...,1099.0,1686.0,866.0,820.0,1014.0,511.0,503.0,590.0,287.0,303.0
72288,50,56,39,Wyoming,Teton County,2022-07-01,23287,12206,11081,1069,...,674.0,1131.0,628.0,503.0,781.0,387.0,394.0,395.0,183.0,212.0
72289,50,56,41,Wyoming,Uinta County,2022-07-01,20712,10598,10114,1226,...,647.0,965.0,506.0,459.0,561.0,306.0,255.0,316.0,147.0,169.0
72290,50,56,43,Wyoming,Washakie County,2022-07-01,7719,3973,3746,378,...,280.0,441.0,215.0,226.0,356.0,169.0,187.0,250.0,125.0,125.0
72291,50,56,45,Wyoming,Weston County,2022-07-01,6860,3800,3060,296,...,267.0,415.0,231.0,184.0,254.0,127.0,127.0,141.0,71.0,70.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72292 entries, 0 to 72291
Data columns (total 96 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SUMLEV           72292 non-null  int64
 1   STATE            72292 non-null  int64
 2   COUNTY           72292 non-null  int64
 3   STNAME           72292 non-null  object
 4   CTYNAME          72292 non-null  object
 5   YEAR             72292 non-null  object
 6   POPESTIMATE      72292 non-null  int64
 7   POPEST_MALE      72292 non-null  int64
 8   POPEST_FEM       72292 non-null  int64
 9   UNDER5_TOT       72292 non-null  int64
 10  UNDER5_MALE      72292 non-null  int64
 11  UNDER5_FEM       72292 non-null  int64
 12  AGE513_TOT       72292 non-null  int64
 13  AGE513_MALE      72292 non-null  int64
 14  AGE513_FEM       72292 non-null  int64
 15  AGE1417_TOT      72292 non-null  int64
 16  AGE1417_MALE     72292 non-null  int64
 17  AGE1417_FEM      72292 non-null  int64
 18  AGE1824_TOT      72292 non-null  int64
 19  AGE1824_MALE     72292 non-null  int64
 20  AGE1824_FEM      72292 non-null  int64
 21  AGE16PLUS_TOT    72292 non-null  int64
 22  AGE16PLUS_MALE   72292 non-null  int64
 23  AGE16PLUS_FEM    72292 non-null  int64
 24  AGE18PLUS_TOT    72292 non-null  int64
 25  AGE18PLUS_MALE   72292 non-null  int64
 26  AGE18PLUS_FEM    72292 non-null  int64
 27  AGE1544_TOT      72292 non-null  int64
 28  AGE1544_MALE     72292 non-null  int64
 29  AGE1544_FEM      72292 non-null  int64
 30  AGE2544_TOT      72292 non-null  int64
 31  AGE2544_MALE     72292 non-null  int64
 32  AGE2544_FEM      72292 non-null  int64
 33  AGE4564_TOT      72292 non-null  int64
 34  AGE4564_MALE     72292 non-null  int64
 35  AGE4564_FEM      72292 non-null  int64
 36  AGE65PLUS_TOT    72292 non-null  int64
 37  AGE65PLUS_MALE   72292 non-null  int64
 38  AGE65PLUS_FEM    72292 non-null  int64
 39  AGE85PLUS_TOT    72292 non-null  int64
 40  AGE85PLUS_MALE   72292 non-null  int64
 41  AGE85PLUS_FEM    72292 non-null  int64
 42  MEDIAN_AGE_TOT   72292 non-null  float64
 43  MEDIAN_AGE_MALE  72292 non-null  float64
 44  MEDIAN_AGE_FEM   72292 non-null  float64
 45  AGE04_TOT        40862 non-null  float64
 46  AGE04_MALE       40862 non-null  float64
 47  AGE04_FEM        40862 non-null  float64
 48  AGE59_TOT        40862 non-null  float64
 49  AGE59_MALE       40862 non-null  float64
 50  AGE59_FEM        40862 non-null  float64
 51  AGE1014_TOT      40862 non-null  float64
 52  AGE1014_MALE     40862 non-null  float64
 53  AGE1014_FEM      40862 non-null  float64
 54  AGE1519_TOT      40862 non-null  float64
 55  AGE1519_MALE     40862 non-null  float64
 56  AGE1519_FEM      40862 non-null  float64
 57  AGE2024_TOT      40862 non-null  float64
 58  AGE2024_MALE     40862 non-null  float64
 59  AGE2024_FEM      40862 non-null  float64
 60  AGE2529_TOT      40862 non-null  float64
 61  AGE2529_MALE     40862 non-null  float64
 62  AGE2529_FEM      40862 non-null  float64
 63  AGE3034_TOT      40862 non-null  float64
 64  AGE3034_MALE     40862 non-null  float64
 65  AGE3034_FEM      40862 non-null  float64
 66  AGE3539_TOT      40862 non-null  float64
 67  AGE3539_MALE     40862 non-null  float64
 68  AGE3539_FEM      40862 non-null  float64
 69  AGE4044_TOT      40862 non-null  float64
 70  AGE4044_MALE     40862 non-null  float64
 71  AGE4044_FEM      40862 non-null  float64
 72  AGE4549_TOT      40862 non-null  float64
 73  AGE4549_MALE     40862 non-null  float64
 74  AGE4549_FEM      40862 non-null  float64
 75  AGE5054_TOT      40862 non-null  float64
 76  AGE5054_MALE     40862 non-null  float64
 77  AGE5054_FEM      40862 non-null  float64
 78  AGE5559_TOT      40862 non-null  float64
 79  AGE5559_MALE     40862 non-null  float64
 80  AGE5559_FEM      40862 non-null  float64
 81  AGE6064_TOT      40862 non-null  float64
 82  AGE6064_MALE     40862 non-null  float64
 83  AGE6064_FEM      40862 non-null  float64
 84  AGE6569_TOT      40862 non-null  float64
 85  AGE6569_MALE     40862 non-null  float64
 86  AGE6569_FEM      40862 non-null  float64
 87  AGE7074_TOT      40862 non-null  float64
 88  AGE7074_MALE     40862 non-null  float64
 89  AGE7074_FEM      40862 non-null  float64
 90  AGE7579_TOT      40862 non-null  float64
 91  AGE7579_MALE     40862 non-null  float64
 92  AGE7579_FEM      40862 non-null  float64
 93  AGE8084_TOT      40862 non-null  float64
 94  AGE8084_MALE     40862 non-null  float64
 95  AGE8084_FEM      40862 non-null  float64
dtypes: float64(54), int64(39), object(3)
memory usage: 52.9+ MB

### Goals
1. Convert YEAR to datetime
2. Create FIPS column from STATE and COUNTY columns
3. Create Percent Male column from POPEST_MALE and POPEST_FEM columns
4. Remove unneeded columns, rename remaining columns

### Covert YEAR to datetime

In [5]:
df['YEAR'] = pd.to_datetime(df['YEAR'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72292 entries, 0 to 72291
Data columns (total 96 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SUMLEV           72292 non-null  int64
 1   STATE            72292 non-null  int64
 2   COUNTY           72292 non-null  int64
 3   STNAME           72292 non-null  object
 4   CTYNAME          72292 non-null  object
 5   YEAR             72292 non-null  datetime64[ns]
 6   POPESTIMATE      72292 non-null  int64
 7   POPEST_MALE      72292 non-null  int64
 8   POPEST_FEM       72292 non-null  int64
 9   UNDER5_TOT       72292 non-null  int64
 10  UNDER5_MALE      72292 non-null  int64
 11  UNDER5_FEM       72292 non-null  int64
 12  AGE513_TOT       72292 non-null  int64
 13  AGE513_MALE      72292 non-null  int64
 14  AGE513_FEM       72292 non-null  int64
 15  AGE1417_TOT      72292 non-null  int64
 16  AGE1417_MALE     72292 non-null  int64
 17  AGE1417_FEM      72292 non-null  int64
 18  AGE1824_TOT      72292 non-null  int64
 19  AGE1824_MALE     72292 non-null  int64
 20  AGE1824_FEM      72292 non-null  int64
 21  AGE16PLUS_TOT    72292 non-null  int64
 22  AGE16PLUS_MALE   72292 non-null  int64
 23  AGE16PLUS_FEM    72292 non-null  int64
 24  AGE18PLUS_TOT    72292 non-null  int64
 25  AGE18PLUS_MALE   72292 non-null  int64
 26  AGE18PLUS_FEM    72292 non-null  int64
 27  AGE1544_TOT      72292 non-null  int64
 28  AGE1544_MALE     72292 non-null  int64
 29  AGE1544_FEM      72292 non-null  int64
 30  AGE2544_TOT      72292 non-null  int64
 31  AGE2544_MALE     72292 non-null  int64
 32  AGE2544_FEM      72292 non-null  int64
 33  AGE4564_TOT      72292 non-null  int64
 34  AGE4564_MALE     72292 non-null  int64
 35  AGE4564_FEM      72292 non-null  int64
 36  AGE65PLUS_TOT    72292 non-null  int64
 37  AGE65PLUS_MALE   72292 non-null  int64
 38  AGE65PLUS_FEM    72292 non-null  int64
 39  AGE85PLUS_TOT    72292 non-null  int64
 40  AGE85PLUS_MALE   72292 non-null  int64
 41  AGE85PLUS_FEM    72292 non-null  int64
 42  MEDIAN_AGE_TOT   72292 non-null  float64
 43  MEDIAN_AGE_MALE  72292 non-null  float64
 44  MEDIAN_AGE_FEM   72292 non-null  float64
 45  AGE04_TOT        40862 non-null  float64
 46  AGE04_MALE       40862 non-null  float64
 47  AGE04_FEM        40862 non-null  float64
 48  AGE59_TOT        40862 non-null  float64
 49  AGE59_MALE       40862 non-null  float64
 50  AGE59_FEM        40862 non-null  float64
 51  AGE1014_TOT      40862 non-null  float64
 52  AGE1014_MALE     40862 non-null  float64
 53  AGE1014_FEM      40862 non-null  float64
 54  AGE1519_TOT      40862 non-null  float64
 55  AGE1519_MALE     40862 non-null  float64
 56  AGE1519_FEM      40862 non-null  float64
 57  AGE2024_TOT      40862 non-null  float64
 58  AGE2024_MALE     40862 non-null  float64
 59  AGE2024_FEM      40862 non-null  float64
 60  AGE2529_TOT      40862 non-null  float64
 61  AGE2529_MALE     40862 non-null  float64
 62  AGE2529_FEM      40862 non-null  float64
 63  AGE3034_TOT      40862 non-null  float64
 64  AGE3034_MALE     40862 non-null  float64
 65  AGE3034_FEM      40862 non-null  float64
 66  AGE3539_TOT      40862 non-null  float64
 67  AGE3539_MALE     40862 non-null  float64
 68  AGE3539_FEM      40862 non-null  float64
 69  AGE4044_TOT      40862 non-null  float64
 70  AGE4044_MALE     40862 non-null  float64
 71  AGE4044_FEM      40862 non-null  float64
 72  AGE4549_TOT      40862 non-null  float64
 73  AGE4549_MALE     40862 non-null  float64
 74  AGE4549_FEM      40862 non-null  float64
 75  AGE5054_TOT      40862 non-null  float64
 76  AGE5054_MALE     40862 non-null  float64
 77  AGE5054_FEM      40862 non-null  float64
 78  AGE5559_TOT      40862 non-null  float64
 79  AGE5559_MALE     40862 non-null  float64
 80  AGE5559_FEM      40862 non-null  float64
 81  AGE6064_TOT      40862 non-null  float64
 82  AGE6064_MALE     40862 non-null  float64
 83  AGE6064_FEM      40862 non-null  float64
 84  AGE6569_TOT      40862 non-null  float64
 85  AGE6569_MALE     40862 non-null  float64
 86  AGE6569_FEM      40862 non-null  float64
 87  AGE7074_TOT      40862 non-null  float64
 88  AGE7074_MALE     40862 non-null  float64
 89  AGE7074_FEM      40862 non-null  float64
 90  AGE7579_TOT      40862 non-null  float64
 91  AGE7579_MALE     40862 non-null  float64
 92  AGE7579_FEM      40862 non-null  float64
 93  AGE8084_TOT      40862 non-null  float64
 94  AGE8084_MALE     40862 non-null  float64
 95  AGE8084_FEM      40862 non-null  float64
dtypes: datetime64[ns](1), float64(54), int64(39), object(2)
memory usage: 52.9+ MB

### Create FIPS column

In [6]:
df['FIPS'] = df['STATE'].astype(str).str.zfill(2) + df['COUNTY'].astype(str).str.zfill(3)
df.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7074_TOT,AGE7074_MALE,AGE7074_FEM,AGE7579_TOT,AGE7579_MALE,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,FIPS
0,50,1,1,Alabama,Autauga County,2000-07-01,43872,21318,22554,3027,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01001
1,50,1,3,Alabama,Baldwin County,2000-07-01,141358,69323,72035,8653,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01003
2,50,1,5,Alabama,Barbour County,2000-07-01,29035,14969,14066,1781,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01005
3,50,1,7,Alabama,Bibb County,2000-07-01,19936,9834,10102,1447,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01007
4,50,1,9,Alabama,Blount County,2000-07-01,51181,25559,25622,3533,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01009

In [7]:
#Dictionary for updating FIPS and county names so they are recognized by Tableau.
#See here for details: https://github.com/spearitual/Updated-FIPS-codes-for-Tableau 
FIPS_swapper = {
 '09001': '09190',
 '09013': '09170',
 '02270': '02158',
 '46113': '46102',
 '51515': '51019',
 '51540': '51003',
 '51580': '51005',
 '51820': '51015',
 '51680': '51031',
 '51640': '51035',
 '51730': '51053',
 '51610': '51059',
 '51840': '51069',
 '51595': '51081',
 '51690': '51089',
 '51830': '51095',
 '15005': '15009',
 '51750': '51121',
 '51590': '51143',
 '51670': '51149',
 '51685': '51153',
 '51775': '51161',
 '51678': '51163',
 '51660': '51165',
 '51620': '51175',
 '51630': '51177',
 '51520': '51191',
 '51720': '51195',
 '51735': '51199',
 '51790': '51015',
 '51570': '51053',
 '51600': '51059',
 '51683': '51153',
 '51530': '51163'
}
name_swapper = {'Bedford city':'Bedford County',
'Charlottesville city': 'Albemarle + Charlottesville',
 'Covington city': 'Alleghany + Covington',
 'Waynesboro city': 'Augusta, Staunton + Waynesboro',
 'Lynchburg city': 'Campbell + Lynchburg',
 'Galax city': 'Carroll + Galax',
 'Petersburg city': 'Dinwiddie, Colonial Heights + Petersburg',
 'Falls Church city': 'Fairfax, Fairfax City + Falls Church',
 'Winchester city': 'Frederick + Winchester',
 'Emporia city': 'Greensville + Emporia',
 'Martinsville city': 'Henry + Martinsville',
 'Williamsburg city': 'James City + Williamsburg',
 'Kalawao County': 'Maui + Kalawao',
 'Radford city': 'Montgomery + Radford',
 'Danville city': 'Pittsylvania + Danville',
 'Hopewell city': 'Prince George + Hopewell',
 'Manassas Park city': 'Prince William, Manassas + Manassas Park',
 'Salem city': 'Roanoke + Salem',
 'Lexington city': 'Rockbridge, Buena Vista + Lexington',
 'Harrisonburg city': 'Rockingham + Harrisonburg',
 'Franklin city': 'Southampton + Franklin',
 'Fredericksburg city': 'Spotsylvania + Fredericksburg',
 'Bristol city': 'Washington + Bristol',
 'Norton city': 'Wise + Norton',
 'Poquoson city': 'York + Poquoson',
 'Staunton city': 'Augusta, Staunton + Waynesboro',
 'Colonial Heights city': 'Dinwiddie, Colonial Heights + Petersburg',
 'Fairfax city': 'Fairfax, Fairfax City + Falls Church',
 'Manassas city': 'Prince William, Manassas + Manassas Park',
 'Buena Vista city': 'Rockbridge, Buena Vista + Lexington',
 'Albemarle County': 'Albemarle + Charlottesville',
 'Alleghany County': 'Alleghany + Covington',
 'Augusta County': 'Augusta, Staunton + Waynesboro',
 'Campbell County': 'Campbell + Lynchburg',
 'Carroll County': 'Carroll + Galax',
 'Dinwiddie County': 'Dinwiddie, Colonial Heights + Petersburg',
 'Fairfax County': 'Fairfax, Fairfax City + Falls Church',
 'Frederick County': 'Frederick + Winchester',
 'Greensville County': 'Greensville + Emporia',
 'Henry County': 'Henry + Martinsville',
 'James City County': 'James City + Williamsburg',
 'Maui County': 'Maui + Kalawao',
 'Montgomery County': 'Montgomery + Radford',
 'Pittsylvania County': 'Pittsylvania + Danville',
 'Prince George County': 'Prince George + Hopewell',
 'Prince William County': 'Prince William, Manassas + Manassas Park',
 'Roanoke County': 'Roanoke + Salem',
 'Rockbridge County': 'Rockbridge, Buena Vista + Lexington',
 'Rockingham County': 'Rockingham + Harrisonburg',
 'Southampton County': 'Southampton + Franklin',
 'Spotsylvania County': 'Spotsylvania + Fredericksburg',
 'Washington County': 'Washington + Bristol',
 'Wise County': 'Wise + Norton',
 'York County': 'York + Poquoson',
 'Wade Hampton Census Area':'Kusilvak Census Area'}

In [8]:
for old_FIPS, new_FIPS in FIPS_swapper.items():
    df['FIPS'] = df.FIPS.replace(old_FIPS, new_FIPS)
for old_name, new_name in name_swapper.items():
    df['CTYNAME'] = df.CTYNAME.replace(old_name, new_name)

In [9]:
#Combine data for combined counties. Mean of medians won't be precisely accurate.
df = df.groupby(['FIPS','STNAME','CTYNAME','YEAR']).agg({'POPESTIMATE':'sum','POPEST_MALE':'sum','POPEST_FEM':'sum','POPESTIMATE':'sum','MEDIAN_AGE_TOT':'mean','MEDIAN_AGE_MALE':'mean','MEDIAN_AGE_FEM':'mean'}).reset_index()

### Create Percent Male column

In [10]:
df['percent_male']=df['POPEST_MALE']/(df['POPEST_MALE']+df['POPEST_FEM'])
df.head()

,FIPS,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM,percent_male
0,01001,Alabama,Autauga County,2000-07-01,43872,21318,22554,35.2,34.0,36.1,0.485914
1,01001,Alabama,Autauga County,2001-07-01,44434,21591,22843,35.6,34.3,36.6,0.485912
2,01001,Alabama,Autauga County,2002-07-01,45157,21928,23229,35.9,34.6,36.9,0.485595
3,01001,Alabama,Autauga County,2003-07-01,45762,22222,23540,35.9,34.9,37.0,0.485599
4,01001,Alabama,Autauga County,2004-07-01,46933,22765,24168,35.8,34.8,36.8,0.485053

### Add state abbreviations, remove unneeded columns, rename remaining

In [11]:
#from https://gist.github.com/rogerallen/1583593
us_state_to_abbrev = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "District of Columbia": "DC",
    "American Samoa": "AS",
    "Guam": "GU",
    "Northern Mariana Islands": "MP",
    "Puerto Rico": "PR",
    "United States Minor Outlying Islands": "UM",
    "U.S. Virgin Islands": "VI"
}

In [12]:
df['state_abbr'] = df.STNAME
for state, abbr in us_state_to_abbrev.items():
    df['state_abbr'] = df.state_abbr.replace(state, abbr)
df

,FIPS,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM,percent_male,state_abbr
0,01001,Alabama,Autauga County,2000-07-01,43872,21318,22554,35.2,34.0,36.1,0.485914,AL
1,01001,Alabama,Autauga County,2001-07-01,44434,21591,22843,35.6,34.3,36.6,0.485912,AL
2,01001,Alabama,Autauga County,2002-07-01,45157,21928,23229,35.9,34.6,36.9,0.485595,AL
3,01001,Alabama,Autauga County,2003-07-01,45762,22222,23540,35.9,34.9,37.0,0.485599,AL
4,01001,Alabama,Autauga County,2004-07-01,46933,22765,24168,35.8,34.8,36.8,0.485053,AL
...,...,...,...,...,...,...,...,...,...,...,...,...
71610,56045,Wyoming,Weston County,2018-07-01,6895,3624,3271,43.8,43.2,44.6,0.525598,WY
71611,56045,Wyoming,Weston County,2019-07-01,6880,3615,3265,44.3,43.8,44.9,0.525436,WY
71612,56045,Wyoming,Weston County,2020-07-01,6818,3724,3094,43.5,42.6,44.8,0.546201,WY
71613,56045,Wyoming,Weston County,2021-07-01,6766,3729,3037,43.9,43.1,45.3,0.551138,WY
71614,56045,Wyoming,Weston County,2022-07-01,6860,3800,3060,44.5,43.6,46.0,0.553936,WY

In [13]:
#Keep only these columns
df = df[['FIPS','STNAME','state_abbr','CTYNAME','YEAR','POPESTIMATE','POPEST_MALE','POPEST_FEM','percent_male','MEDIAN_AGE_TOT','MEDIAN_AGE_MALE','MEDIAN_AGE_FEM']]
df.head()

,FIPS,STNAME,state_abbr,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,percent_male,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
0,01001,Alabama,AL,Autauga County,2000-07-01,43872,21318,22554,0.485914,35.2,34.0,36.1
1,01001,Alabama,AL,Autauga County,2001-07-01,44434,21591,22843,0.485912,35.6,34.3,36.6
2,01001,Alabama,AL,Autauga County,2002-07-01,45157,21928,23229,0.485595,35.9,34.6,36.9
3,01001,Alabama,AL,Autauga County,2003-07-01,45762,22222,23540,0.485599,35.9,34.9,37.0
4,01001,Alabama,AL,Autauga County,2004-07-01,46933,22765,24168,0.485053,35.8,34.8,36.8

In [14]:
#Rename columns
df.columns = ['FIPS','state','state_abbr','county','date','population_total','population_male','population_female','percent_male','median_age_total','median_age_male','median_age_female']
df.head()

,FIPS,state,state_abbr,county,date,population_total,population_male,population_female,percent_male,median_age_total,median_age_male,median_age_female
0,01001,Alabama,AL,Autauga County,2000-07-01,43872,21318,22554,0.485914,35.2,34.0,36.1
1,01001,Alabama,AL,Autauga County,2001-07-01,44434,21591,22843,0.485912,35.6,34.3,36.6
2,01001,Alabama,AL,Autauga County,2002-07-01,45157,21928,23229,0.485595,35.9,34.6,36.9
3,01001,Alabama,AL,Autauga County,2003-07-01,45762,22222,23540,0.485599,35.9,34.9,37.0
4,01001,Alabama,AL,Autauga County,2004-07-01,46933,22765,24168,0.485053,35.8,34.8,36.8

In [15]:
#Combine county and state names so every county is unique
df['county_state'] = df.county + ', ' + df.state_abbr
#Reorder columns
df = df[['FIPS','date','county','state','state_abbr','county_state','population_total','population_male','population_female','percent_male','median_age_total','median_age_male','median_age_female']]
df.head()

,FIPS,date,county,state,state_abbr,county_state,population_total,population_male,population_female,percent_male,median_age_total,median_age_male,median_age_female
0,01001,2000-07-01,Autauga County,Alabama,AL,"Autauga County, AL",43872,21318,22554,0.485914,35.2,34.0,36.1
1,01001,2001-07-01,Autauga County,Alabama,AL,"Autauga County, AL",44434,21591,22843,0.485912,35.6,34.3,36.6
2,01001,2002-07-01,Autauga County,Alabama,AL,"Autauga County, AL",45157,21928,23229,0.485595,35.9,34.6,36.9
3,01001,2003-07-01,Autauga County,Alabama,AL,"Autauga County, AL",45762,22222,23540,0.485599,35.9,34.9,37.0
4,01001,2004-07-01,Autauga County,Alabama,AL,"Autauga County, AL",46933,22765,24168,0.485053,35.8,34.8,36.8

In [16]:
#Export to csv
#df.to_csv('county_median_age_2000-2022_cleaned_3.csv', index=False)